Employee:
- id
- name
- field

Freelancer:
- id
- name
- field
- skills
- workingon

Project:
- id
- name
- descr
- employeeid
- field
- requirements
- due
- available
- freelancerid

In [1]:
import sqlite3
import os

In [148]:
class FL:
    
    def __init__(self, path):
        #if not os.path.exists(path):
        #    self.con = sqlite3.connect(path)
        #    self.build_tables()
        #else:
        #    self.con = sqlite3.connect(path)
        if os.path.exists:
            os.remove(path)
            
        self.con = sqlite3.connect(path)
        self.cursor = self.con.cursor()
        self.create_tables()
        
    def create_tables(self):
        self.cursor.execute(
        """
        CREATE TABLE Employees (emp_id INTEGER PRIMARY KEY AUTOINCREMENT,
                                emp_name TEXT,
                                emp_field TEXT
                                );
        """
        )
        
        self.cursor.execute(
        """
        CREATE TABLE Freelancers (frl_id INTEGER PRIMARY KEY AUTOINCREMENT,
                                  frl_name TEXT,
                                  frl_field TEXT,
                                  frl_skills TEXT,
                                  frl_busy INT
                                  );
        """
        )
    
    def fetch_all(self):
        return self.cursor.fetchall()
    
    def fetch_table(self, name):
        self.cursor.execute('SELECT * FROM %s' % name)
        return self.cursor.fetchall()
    
    def insert_into(self, into, cols, vals):
        cmd = 'INSERT into %s %s VALUES %s;' % (into, cols, vals)
        self.cursor.execute(cmd)
    
    def select_from(self, what, _from, where):
        cmd = 'SELECT %s FROM %s WHERE %s;' % (what, _from, where)
        self.cursor.execute(cmd)
        return self.cursor.fetchone()
    
    def signup_as_employee(self, name="one", field="it"):
        _vars = locals()
        
        cols = tuple([k for k in _vars if k != 'self'])
        vals = tuple([_vars[k] for k in cols])
        cols = tuple(map(lambda x: 'emp_%s' % x, cols))
        
        self.insert_into('Employees', cols, vals)
        
    def get_employee(self, _id):
        _id = 'emp_id = %s' % _id
        return self.select_from('*', 'Employees', _id)

In [149]:
fl = FL('fl1.db')

In [150]:
fl.signup_as_employee(name="two")

In [151]:
fl.monitor_employee(1)

[(1, 'two', 'it')]

In [139]:
fl.fetch_table('Employees')

[(1, 'two', 'it')]

In [71]:
def f(a=1, b=2):
    print(locals())
    return f.__code__

In [91]:
a = [1, 2]

In [95]:
a = list(map(lambda x: str(x), a))

In [96]:
a

['1', '2']